<mat-toolbar style="position: sticky; top: 0; z-index: 10; overflow: hidden">
  <mat-toolbar-row class="primary-container">
    <img
      src="assets/servin_logo_wobg.jpg"
      class="custom-image"
      alt="Image Description"
    />

    <div class="btnOffer">
      <button class="primary-cubutton btn" mat-flat-button>
        <div>Offers</div>
      </button>

      <button mat-flat-button class="secondry-cubutton btn">Products</button>
    </div>

    <div class="searchBox">
      <input class="searchInput" type="text" name="" placeholder="Search" />
      <button class="searchButton" href="#">
        <i class="material-icons"> search </i>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="secondry-cuheader">
    <button
      id="toggle-btn"
      (click)="toggle()"
      mat-icon-button
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon *ngIf="showFiller; else home">close</mat-icon>
      <ng-template #home>
        <mat-icon>menu</mat-icon>
      </ng-template>
    </button>
    <div class="header-routs">
      <button (click)="gotoHome()" mat-button>Home</button>
      <button mat-button>All offers</button>
      <button mat-button>Supermarket</button>
      <button mat-button>Home & Tools</button>
      <button mat-button>Electronics</button>
      <button mat-button>Furniture</button>
      <button mat-button>Cafe & Restaurants</button>
      <button mat-button>Others</button>
    </div>

    <div></div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="rout-btn d-flex"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="gotoHome()">
        <mat-icon>home</mat-icon> <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon> <span>All offers</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>shopping_cart</mat-icon>
        <span>Supermarket</span>
      </button>
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Home & Tools</span>
      </button>
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Electronics</span>
      </button>
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Furniture</span>
      </button>
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cafe & Restaurants</span>
      </button>
      <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Others</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon> <span>Others</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
