.custom-image {
  width: 150px;
  height: 50px;
}
.primary-cubutton {
  width: 100px;
  height: 35px;
  background-color: #3f51b5;
  color: #ffffff;
  margin-right: 8px;
  padding-bottom: 10px;
}
.secondry-cubutton {
  width: 100px;
  height: 35px;
  color: #ffffff;
  background-color: #e9e9e9;
}
.secondry-cuheader {
  background-color: #3f51b5;
  color: #ffffff;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.header-routs {
  display: none;
  justify-content: start;
}
.primary-container {
  display: flex;
  justify-content: space-between; /* or space-around, space-evenly, etc. */
  background-color: #ffffff;
  height: 70px;
}

.menu-icon {
  padding-bottom: 20px;
}

.category-title {
  display: flex;
  color: #ffffff;
  margin: 8px 0px;
  text-align: left;
  font-weight: bold;
  padding-right: 5px;
  text-decoration: none;
  justify-content: space-between;
  font-size: var(--homeflayertitle);
}

.sr-icon {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;

  margin-right: 30px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* search-bar.component.css */
// .search-container {
//   display: flex;
//   align-items: center;
//   width: 400px;
//   height: 40px;
//   border: 1px solid #ccc;
//   border-radius: 15px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   margin: 10px;
// }

// input[type="text"] {
//   width: 100%;
//   margin-left: 20px;
//   border: 1px solid transparent;
//   border-radius: 15px;
// }

// input[type="text"]:focus {
//   outline: none;
//   border-color: #007bff;
//   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
// }

// /* Optional: Add hover effect */
// input[type="text"]:hover {
//   border-color: #66afe9;
// }
.btnOffer {
  display: none !important;
}

@media (min-width: 768px) {
  .rout-btn {
    display: none !important;
  }
  .btnOffer {
    display: flex !important;
  }
  .header-routs {
    display: flex;
  }
}

// for search bar
searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-color: #3f51b5;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: gray;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
