<!-- <div class="">
  <div class="row flex-grow-1">
    <div class="col">
      <img
        src="assets/servin_logo_wobg.jpg"
        class="custom-image"
        alt="Image Description"
      />
    </div>
    <div class="col">
      <button class="primary-cubutton" mat-flat-button>
        <div>Offers</div>
      </button>

      <button mat-flat-button class="secondry-cubutton">Products</button>
    </div>
    <div class="search-container col">
      <input type="text" placeholder="Search..." (input)="onSearch()" />
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <div class="row" style="background-color: #3f51b5">
    <div class="col">
      <button
        (click)="toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div> -->

<mat-toolbar style="position: sticky; top: 0; z-index: 10; overflow: hidden">
  <mat-toolbar-row class="primary-container">
    <img
      src="assets/servin_logo_wobg.jpg"
      class="custom-image"
      alt="Image Description"
    />
    <div>
      <button class="primary-cubutton" mat-flat-button>
        <div>Offers</div>
      </button>

      <button mat-flat-button class="secondry-cubutton">Products</button>
    </div>

    <div class="search-container">
      <input type="text" placeholder="Search..." (input)="onSearch()" />
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="secondry-cuheader">
    <button
      id="toggle-btn"
      (click)="toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon *ngIf="showFiller; else home">close</mat-icon>
      <ng-template #home>
        <mat-icon>menu</mat-icon>
      </ng-template>
    </button>
    <div class="header-routs">
      <button mat-button>All offers</button>
      <button mat-button>Supermarket</button>
      <button mat-button>Home & Tools</button>
      <button mat-button>Electronics</button>
      <button mat-button>Furniture</button>
      <button mat-button>Cafe & Restaurants</button>
      <button mat-button>Others</button>
    </div>
    <div></div>
  </mat-toolbar-row>
</mat-toolbar>
